<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.donate.mappers.reportMapper">
	<insert id="reg">
		insert into don_report (name,product,price,count,ins)
		values(#{name},#{product},#{price},#{count},#{ins})
	</insert>
	
	<select id="list" resultType="rvo" parameterType="paging">
		select * from don_report where name=#{name}
		limit #{startNo}, #{pageSize}
	</select>
	<delete id="rm">
		delete from don_support
	</delete>
	<select id="cnt" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(rno) from don_report where name=#{name}
	</select>
	<select id="rpt" parameterType="java.lang.String" resultType="rvo">
		select name,product,count from don_report where ins=#{ins}
	</select>
</mapper>